
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100%;
    height:100%;
}
.page1 {
    background: black;
    width: 100%;
    height: 100%;
}
#page1 .box .photo{
    -webkit-animation: bounceInDown 1s .5s both;
    animation: bounceInDown 1s .5s both;
}
.page1 .box .photo {
    position: absolute;
    top: 18%;
    left: 37%;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50% 50%;
    background-color: #eeeeee;
}

.page1 .box .textBox {
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
}

.page1 .box .text {
    width: 3rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.4rem;
    color: darkolivegreen;
    font-weight: 700;
    margin: 0 auto;
}

#page1 .box div.text {
    -webkit-animation: bounceInUp 1s .5s both;
    animation: bounceInUp 1s .5s both;
}
.page1 .box h4.text{
    font-size: 0.6rem;
    color: darkblue;
}

#page1 .box h4.text {
    -webkit-animation: zoomInUp 1s .5s both;
    animation: zoomInUp 1s 1s both;

}
.musicBox .music{
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 1000;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: url("../image/56a1de2b6d73f.jpg") no-repeat;
    background-size: 100% 100%;
}

.page2,.page3{
    background: seashell;
    width: 100%;
    height: 100%;
}
.page2 ul li:nth-child(1),.page3  ul li:nth-child(1){
    margin-top: 2rem;
}
.page2 ul li,.page3 ul li {
    height:10%;
    font-size: 0.4rem;
}
.page2 ul li h5,.page3 ul li h5{
    vertical-align: text-bottom;
    width: 30%;
    font-weight: 700;
    display: inline-block;
    margin-left: .5rem;
    line-height: 0.4rem;
    color: #007aff;
    opacity: 0;
}

.page2 ul li p,.page3 ul li p{
    color: springgreen;
    margin-top: .5rem;
    vector-effect: initial;
    display: inline-block;
    width: 50%;
    line-height: 0.4rem;
    opacity:0;
}
.page3{
    background: springgreen;
}
.page3 div{
    text-align: center;
    margin-top: .5rem;
    color: blue;
}
.page3 ul li h5{

    color: #E0F2BE;
}
.page3 ul li p{
    color: rebeccapurple;
    text-align: center;
    font-weight: 700;
}
.page4{
    text-align: center;
    color: chartreuse;
    background: slateblue;
}
.page4 .head{
    margin-top: 1.5rem;
font-size: 0.5rem;
}
.page4 div{
    margin-top: 0.2rem;
}
.page4 .body{
    font-size:0.6rem ;
}
.page4 .body a{
    font-size: 0.8rem;
}
.page4 .end{
    font-size: 0.8rem;
}
.page4 img{
    margin: 0.2rem auto;
}
#page2 ul li h5{
    -webkit-animation: zoomInLeft 1s .5s both;
    animation: zoomInLeft 1s .5s both;
    opacity: 1;
}
#page2 ul li:nth-child(1) p{
    -webkit-animation: zoomInRight 1s 1s both;
    animation: zoomInRight 1s 1s both;
    opacity: 1;
}
#page2 ul li:nth-child(2) p{
    -webkit-animation: zoomInRight 1.5s 1s both;
    animation: zoomInRight 1s 1.5s both;
    opacity: 1;
}
#page2 ul li:nth-child(3) p{
    -webkit-animation: zoomInRight 1s 2s both;
    animation: zoomInRight 1s 2s both;
    opacity: 1;
}
#page2 ul li:nth-child(4) p{
    -webkit-animation: zoomInRight 1s 2.5s both;
    animation: zoomInRight 1s 2.5s both;
    opacity: 1;
}
#page3 ul li:nth-child(1) h5{
    -webkit-animation: swing 1s .5s both;
    animation: swing 1s .5s both;
    opacity: 1;
}
#page3 ul li:nth-child(1) p{
    -webkit-animation: bounceIn 1s .8s both;
    animation: bounceIn 1s .8s both;
    opacity: 1;
}
#page3 ul li:nth-child(2) h5{
    -webkit-animation: swing 1s 1s both;
    animation: swing 1s 1s both;
    opacity: 1;
}
#page3 ul li:nth-child(2) p{
    -webkit-animation: bounceIn 1s 1.3s both;
    animation: bounceIn 1s 1.3s both;
    opacity: 1;
}
#page3 ul li:nth-child(3) h5{
    -webkit-animation: swing 1s 1.5s both;
    animation: swing 1s 1.5s both;
    opacity: 1;
}
#page3 ul li:nth-child(3) p{
    -webkit-animation: bounceIn 1s 1.8s both;
    animation: bounceIn 1s 1.8s both;
    opacity: 1;
}
#page3 ul li:nth-child(4) h5{
    -webkit-animation: swing 1s 2s both;
    animation: swing 1s 2s both;
    opacity: 1;
}
#page3 ul li:nth-child(4) p{
    -webkit-animation: bounceIn 1s 2.3s both;
    animation: bounceIn 1s 2.3s both;
    opacity: 1;
}
#page4 a{
    -webkit-animation: bounceOut 1s 0.5s both;
    animation: bounceOut 1s 0.5s both;
    opacity: 1;
}
@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-webkit-keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}



@-webkit-keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.musicBox {
    position: relative;
    width: 100%;

}

.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .3rem;
    width: .6rem;
    height: .6rem;
    z-index: 1000;
    /* background: url("audio/") no-repeat;*/
    background-size: 100% 100%;
    background-opacity: 0.5;
}

.musicMove {
    -webkit-animation: musicMove .5s linear infinite both;
    animation: musicMove .5s linear infinite both;

}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.swiper-container {
    width:6.3rem;
    height: 11.38rem;
}

